<div>
  <p><b>Courses:</b>
    <p>
      <ul id="student-courses-list">
        <li *ngFor="let course of courseDetails">
          {{ course.name }} {{ course.instructor }} ({{ course.credits }} credits)
        </li>
      </ul>
</div>