<div>
  <b>Students: </b>
  <select id="student-list-select" [formControl]="studentSelectControl">
    <option [value]="null">{{ STUDENT_SELECT_PLACEHOLDER }} </option>
    <option *ngFor="let student of students" [ngValue]="student">
      {{ student.firstName }} {{ student.lastName }}
    </option>
  </select>
</div>