<app-student-list id="app-student-list-component" (onStudentSelect)="setSelectedStudent($event)"></app-student-list>
<br />
<app-student-info *ngIf="selectedStudent" id="app-student-info-component" [student]="selectedStudent">
</app-student-info>
<br />
<app-student-courses *ngIf="selectedStudent" id="app-student-courses-component" [student]="selectedStudent">
</app-student-courses>