<div>
    <div id="student-name-div"><b>Name: {{ student?.firstName }} {{ student?.lastName }}</b></div>
    <div id="student-number-div"><b>Student Number: {{ student?.studentNumber }}</b></div>
    <div id="student-email-div"><b>Email: {{ student?.email }}</b></div>
    <div id="student-registration-date-div"><b>Registration Date: {{ student?.registrationDate | date: 'longDate' }}</b>
    </div>
</div>